
body {
    background-color: darkseagreen;
    text-align: center;
    color: black;
    
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

form input[type="text"],
form input[type="file"],
form input[type="submit"],
form input[type="reset"] {
    width: calc(100% - 18px);
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="checkbox"] {
  margin-top: 10px;
}

form input[type="submit"],
form input[type="reset"],
form button {
  background-color: darkgreen;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover,
form input[type="reset"]:hover,
form button:hover {
  background-color: seagreen;
}

a {
    color: cornsilk;
    text-decoration: none;

}

a:hover {
    color: darkgreen;
    text-decoration: line;
}

img {
    width: 50%; 
    
}

figure {
    text-align: center;
    font-style: italic ;
}
.list-container {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}



ol {
    width: fit-content;      
    margin: 0 auto;          
    font-family: Arial, sans-serif;
  }

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: white;
 
  }

  thead tr {
    background-color: #333;
    color: white;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

 

/* For Phones*/
@media (max-width: 768px) {
    header {
      height: auto;
      padding: 15px;
      text-align: center;
    }
  }
  /* For Tablets*/
  @media (max-width: 1024px) {
    header {
      height: auto;
      padding: 15px;
      text-align: center;
    }
}