<footer>
<nav>
    <a href="https://webpages.charlotte.edu/amontoy6/">Charlotte.edu</a>
    ||
    <a href="https://github.com/amontoy03">Github</a>
    ||
    <a href="https://amontoy03.github.io/itis3135/">Github.io</a>
    ||
    <a href="https://www.freecodecamp.org/Andres_Montoya">freeCodeCamp</a>
    ||
    <a href="https://www.codecademy.com/profiles/AndresMontoya">codecademy</a>
    ||
    <a href="https://www.linkedin.com/in/amontoy6/">LinkedIn</a>
</nav>
<p>Page Designed by <a href="../itis3135/montoyavision.net/index.html">Montoya Vision</a> &copy; 2025, <em>Certified in <a href="https://www.freecodecamp.org/certification/Andres_Montoya/responsive-web-design">Responsive Web Design</a> and <a href="https://www.freecodecamp.org/certification/Andres_Montoya/javascript-algorithms-and-data-structures-v8">JavaScript Algorithms &amp; Data Structures</a></em> </p>
</footer>